{% extends "base.html" %}

{% block content %}
    <div class="container bg-white rounded shadow-sm mt-3 py-2">
        <h3>Настройки профиля</h3>
        {% if current_user.is_authenticated and current_user.id == userid %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.avatar.label }}
                {{ form.avatar }}
            </p>
            <p>
                {{ form.name.label }}
                {{ form.name(class="form-control", type="name") }}
            </p>
            <p>
                {{ form.about.label }}
                {{ form.about(class="form-control", type="about") }}
            </p>
            <p>
                {{ form.email.label }}
                {{ form.email(class="form-control", type="email") }}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary btn-lg") }}</p>
        </form>
        {{ message }}
        {% endif %}
    </div>
{% endblock %}