{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-row justify-content-md-center">
    <div class="container bg-white rounded shadow-sm m-3 py-2 h-100">
        <img src="data:{{ mim }};base64,{{ img }}" style="width:200px"/>
        <h3>{{ user.name }}</h3>
        <!-- foto-->
        <image>{{user.avatar}}</image>
        О себе
        <p class="rounded border p-1">{{user.about}}</p>
        Email
        <p class="rounded border p-1">{{user.email}}</p>
        Дата регистрации
        <p class="rounded border p-1">{{user.created_date}}</p>
        {% if current_user.is_authenticated and current_user == user %}
            <a class="btn btn-primary me-2 mt-auto" href="/editacc/{{current_user.id}}">Редактировать профиль </a>
        {% endif %}
    </div>
    <div class="container bg-white rounded shadow-sm m-3 py-2 col-9">
        {% for item in news%}
    {% if item[0].is_private == False or current_user == user %}
    <div class="col-md6 border rounded p-1 mt-2">
                <h2 class="rounded p-1" style="background-color: #d6e6fe">{{item[0].title}}</h2>
            <p >
                {{item[0].content}}
            </p>
            <div class="d-flex flex-row">
            <img src="data:{{ item[2].mimetype }};base64,{{ item[2].img }}" class="rounded-circle z-depth-0" style="width:40px; height:40px; margin-right:10px;"/>
            <b style="margin-right:15px; margin-top:8px;"><a href="/{{item[1].id}}">{{item[1].name}}</a></b>
            <div class=" text-secondary" style="margin-top:8px;">{{item[0].created_date}}</div>
        </div>
        {% if current_user.is_authenticated and current_user.id == item[1].id %}
        <div class="m-1 bg-light p-1">
            <a href="/news/{{ item[0].id }}" class="btn btn-warning btn-sm">
                Изменить
            </a>
            <a href="/news_delete/{{ item[0].id }}" class="btn btn-danger btn-sm">
                Удалить
            </a>
        </div>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="/news_comment/{{ item[0].id }}" class="btn btn-secondary">
                Комментировать
            </a>
        {% endif %}
    </div>{% endif %}
    {% endfor %}
    </div>

</div>
{% endblock %}